.widget {
    padding-right: 3rem;
    .widget_span {
        font-size: 1.12rem;
        padding: 0 0.3rem;
        vertical-align: top;
        opacity: 0.4;
        color: red;
        border: 0.05rem solid #cf962a ;
        border-radius: 75%;
    }
}